.container {
    @include box-shadow-default;
    background: white;
    flex-basis: 35%;
    margin-left: $margin * 3;
    padding: $padding * 6;
    border-radius: $radius * 4;

    .title {
        display: flex;
        align-items: center;

        h2 {
            font-weight: 600;
            font-size: 1.4em;
        }

        .notification-count {
            margin-left: $margin * 6;
            position: relative;

            .count {
                @include flex-center;
                position: absolute;
                top: -30%;
                left: 50%;
                background-color: #f93c65;
                width: 20px;
                height: 20px;
                border-radius: 50%;

                span {
                    color: white;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }
    }

    .noti-content {
        background-color: $cyan;
        margin-top: $margin * 3;
        padding: $padding * 2;
        position: relative;

        h3 {
            font-weight: 500;
        }

        p {
            margin: $margin * 1.5 0;
            color: $gray;
        }

        span {
            font-size: 12px;
            position: absolute;
            top: 20%;
            left: 50%;
        }

        .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}