.container {
    width: 100%;

    .label {
        font-weight: 600;
        opacity: .8;
        margin-bottom: 12px;
        display: block;
        font-size: 18px;
    }

    .input {
        position: relative;

        input {
            width: 100%;
            height: 45px;
            border-radius: $radius-md;
            border: none;
            border: 2px solid rgb(235 238 241);
            background: rgb(241 244 249);
            outline: none;
            padding: $padding-sm * 1.5;
            font-weight: 500;
            font-size: 18px;
        }

        .fixed-placeholder {
            position: absolute;
            right: 6%;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
        }
    }

    .input[type="date"] {
        position: relative;
        padding-left: 12%;

        &::-webkit-calendar-picker-indicator {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;
            height: 50%;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
    }

    span.required {
        color: red;
        margin-left: 2px;
    }

    input.required {
        border: 1px solid red;
    }

    input.disabled {
        background: #eeeeee;
        border: 2px solid #e0e0e0;
        color: #979797;
    }

    .error {
        font-size: 12px;
        margin-top: 2px;
        color: red;
    }

}