{
    "singleQuote": true,
    "printWidth": 120,
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 4,
    "bracketSpacing": true,
    "importOrder": ["^@(.*)", "^[./]"],
    "importOrderSeparation": true,
    "jsxSingleQuote": false,
    "endOfLine": "auto",
    "useTabs": false,
    "semi": true,
    "bracketSameLine": false
}

