$primary: #4880ff;
$btn: #005EA2;
$btn-hover: #3f72e8;
$gray: #757677;
$gray-2: #707070;
$gray-3: #555555;
$green: #00b69b;
$red: #f93c65;
$cyan: #e8eeee;
$success: #ccf0eb;
$success-text: #19bea5;
$processing: #e0d4fc;
$processing-text: #6226ef;
$canceled: #fcd7d4;
$canceled-text: #ef3826;

// Breakpoints
$xl: 1400px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 480px;

// Margin
$margin: 4px;
$margin-sm: 8px;

// Padding
$padding: 4px;
$padding-sm: 8px;

// Radius
$radius: 2px;
$radius-sm: 4px;
$radius-md: 8px;

// Grid gap
$gap: 4px;
$gap-sm: 8px;