.container {
    display: flex;
}

.main-viewport {
    flex: 1 1 82%;
}

.sidebar {
    flex: 1 1 18%;
}

.children {
    flex: 1 1 80%;
    max-width: 80vw;
    max-height: 88vh;
    overflow: auto;
}