.container {
    margin: $margin * 6;
}

.header {
    @include box-shadow-default;
    flex-direction: column;
    background: white;
    display: flex;
    padding: $padding * 4;
    border-radius: $radius * 4;

    span {
        font-weight: 500;
        font-size: 1.5em;
    }

    h2 {
        font-weight: 600;
        font-size: 2em;
        margin-top: $margin-sm * 2;
    }
}