.container {
    @include flex-center;

    background: white;
    height: 65%;
    min-width: 500px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.1);

    .form {
        height: 75%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.heading {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    .title {
        font-size: 1.8em;
        font-weight: 700;
        color: rgb(57, 60, 63);
    }

    .desc {
        font-weight: 700;
        color: rgb(117 118 119);
    }
}

@media only screen and (max-width: $sm) {
    .container {
        min-width: 80vw;
    }
}